<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div>
      <div>
        <button class='tab'>계산기</button>
        <button class='tab'>계산 조회</button>
      </div>
      <div>
        <input type='text' id='formulaBox' placeholder="0" />
        <input type='text' id='errorBox' readonly />
        <input type='text' id='resultBox' readonly />
      </div>
      <div>
        <button class="btn" value="ABS" onclick="typing('ABS')">ABS</button>
        <button class="btn" value="ROOT" onclick="typing('ROOT')">ROOT</button>
        <button class="btn" value="(" onclick="typing('(')">(</button>
        <button class="btn" value=")" onclick="typing(')')">)</button>
        <button class="btn" value="AC" onclick="typing('AC')">AC</button>
        <button class="btn" value="back" onclick="typing('back')">←</button>
        <button class="btn" value="/" onclick="typing('/')">/</button>
      </div>
      <div>
        <button class="btn" value="SIN" onclick="typing('SIN')">SIN</button>
        <button class="btn" value="COS" onclick="typing('COS')">COS</button>
        <button class="btn" value="7" onclick="typing('7')">7</button>
        <button class="btn" value="8" onclick="typing('8')">8</button>
        <button class="btn" value="9" onclick="typing('9')">9</button>
        <button class="btn" value="/" onclick="typing('/')">÷</button>
      </div>
      <div>
        <button class="btn" value="ABS" onclick="typing('ABS')">ABS</button>
        <button class="btn" value="ROOT" onclick="typing('ROOT')">ROOT</button>
        <button class="btn" value="(" onclick="typing('(')">(</button>
        <button class="btn" value=")" onclick="typing(')')">)</button>
        <button class="btn" value="AC" onclick="typing('AC')">AC</button>
        <button class="btn" value="back" onclick="typing('back')">←</button>
      </div>
      <div>
        <button class="btn" value="ABS" onclick="typing('ABS')">ABS</button>
        <button class="btn" value="ROOT" onclick="typing('ROOT')">ROOT</button>
        <button class="btn" value="(" onclick="typing('(')">(</button>
        <button class="btn" value=")" onclick="typing(')')">)</button>
        <button class="btn" value="AC" onclick="typing('AC')">AC</button>
        <button class="btn" value="back" onclick="typing('back')">←</button>
      </div>
      <div>
        <button class="btn" value="ABS" onclick="typing('ABS')">ABS</button>
        <button class="btn" value="ROOT" onclick="typing('ROOT')">ROOT</button>
        <button class="btn" value="(" onclick="typing('(')">(</button>
        <button class="btn" value=")" onclick="typing(')')">)</button>
        <button class="btn" value="AC" onclick="typing('AC')">AC</button>
        <button class="btn" value="back" onclick="typing('back')">←</button>
      </div>
    </div>
  </body>
</html>
